BEGIN;

CREATE TABLE train.alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 5a8135756bd0

CREATE TABLE train.athlete_profile (
    user_id UUID NOT NULL, 
    form_id UUID, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_train_athlete_profile_user_id ON train.athlete_profile (user_id);

CREATE TABLE train.athlete_profile_value (
    profile_id UUID NOT NULL, 
    field_id UUID NOT NULL, 
    value VARCHAR, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(profile_id) REFERENCES train.athlete_profile (id) ON DELETE CASCADE
);

CREATE INDEX ix_train_athlete_profile_value_profile_id ON train.athlete_profile_value (profile_id);

INSERT INTO train.alembic_version (version_num) VALUES ('5a8135756bd0') RETURNING train.alembic_version.version_num;

COMMIT;

