BEGIN;

CREATE TABLE train.alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 4dba4a111990

INSERT INTO train.alembic_version (version_num) VALUES ('4dba4a111990') RETURNING train.alembic_version.version_num;

COMMIT;

